#intro {
  overflow: hidden; /* 마우스 포인터 위치에 따라 스크롤을 막아줘 */
}

#space {
  width: 100vw;
  height: 100vh;
  background: black;
}
  
.earthImgBtn {
  width: 30vw; /* 너비 조절 */
  height: auto; /* 높이는 자동으로 조절되도록 설정 */
  position: fixed; 
  transition: left 0.5s ease, top 0.5s ease; /* transition 속성 추가해서 스무스하게 만들어줘 */
  transform-origin: center center; /* 크기 변화 중심을 요소의 가운데로 설정 */
  }

.clickImg {
  width: 20vw; /* 너비 조절 */
  height: auto; /* 높이는 자동으로 조절되도록 설정 */
  position: fixed; 
  pointer-events: none;
  transition: left 0.5s ease, top 0.5s ease; /* transition 속성 추가해서 스무스하게 만들어줘 */
  transform-origin: center center; /* 크기 변화 중심을 요소의 가운데로 설정 */
}

.intro_text {
  font-size: 2vw;
}