.main {
  position: relative;
  width: 100%;
  height: 100%;
  /* 타일의 배경 이미지 설정 */
  background-image: url("../img/object/tile.png");
  /* 이미지 반복 설정 */
  background-repeat: repeat;
}

#main_1_1 {
  width: 100%;
  height: 56.25vw; /* 9 / 16 * 100vw */
  overflow: hidden;
  position: static;
}

#main_1_2 {
  width: 90%;
  height: auto; /* 9 / 16 * 100vw */
  overflow: hidden;
  position: static;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#main_1_3 {
  width: 90%;
  height: auto; /* 9 / 16 * 100vw */
  overflow: hidden;
  position: static;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main-background {
  position: relative;
  z-index: 0;
  width: 100%;  
  height: auto;
  /* 타일의 배경 이미지 설정 */
  background-image: url("../img/object/tile.png");
  /* 이미지 반복 설정 */
  background-repeat: repeat;
}

.astronautImg {
  position: fixed;
  width: 10vw;
  height: auto;
  z-index: 4;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -90%); /* 중앙으로 이동하는 부분을 추가해줘 */
}

.subwayImg_img {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: auto;
  transform: translate(0%, -15%); 
}

.subwayImg {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: auto;
  transform: translate(0%, -15%); 
}

.subwayText-left{
  font-size: 1.5vw;
  position: absolute;
  top: 10.5vw;
  left: 20vw;
  z-index: 2;
  transform: translate(-50%, -50%); /* 중앙으로 이동하는 부분을 추가해줘 */
}

.subwayText-right{
  pointer-events: none;
  font-size: 1.5vw;
  position: absolute;
  top: 10.5vw;
  left: 88vw;
  white-space: nowrap;
  z-index: 2;
  transform: translate(-50%, -50%); /* 중앙으로 이동하는 부분을 추가해줘 */
}

.goupbtn {
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: auto;
  border-radius: 80%;
  position: fixed;
  z-index: 5;
  transition: left 0.5s ease, top 0.5s ease; /* transition 속성 추가해서 스무스하게 만들어줘 */
  transform-origin: center center; /* 크기 변화 중심을 요소의 가운데로 설정 */
}