.astronautImg {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
  background: url(../img/astronaut.gif);
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%); /* 중앙으로 이동하는 부분을 추가해줘 */
}

.cityImg {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -40%); /* 중앙으로 이동하는 부분을 추가해줘 */
}